<main>
    <section class="users">
        <h1 class="title">User Accounts</h1>
     
        <div class="box-container">
           <!-- User Account Box 1 -->
           <div class="box">
              <p>user id : <span></span></p>  <!-- OVDJE JE DUPLICIRANO JER JE TAKO STAVLJENO U KODU, OVDJE TREBA KASNIJE DINAMIČNO DA IDE -->
              <p>username : <span></span></p>
              <p>email : <span> </span></p>
              <p>user type : <span>User Type</span></p>
              <!-- Delete Button -->
              <a href="#" class="delete-btn">Delete User</a>
           </div>
          
        </div>
     </section>
</main>
