<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>BookLet</title>
  

    <!-- - favicon  -->
    <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

    <!--css link za navigaciju od indexa -->
     <link rel="stylesheet" href="../assets/css/style.css"> 
    <link rel="stylesheet" href="../assets/css/cart.css">
    
    <!--google font Aldijana-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

   
    <!-- preload images for background  ovo testirati malo -->
  <!--<link rel="preload" as="image" href="./assets/images/book-banner-start.png">
  <link rel="preload" as="image" href="./assets/images/hero-bg.jpg">-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 


</head>

  <body id="top">

    <!-- #HEADER--> 
    <header class="header" data-header>
      <div class="header-top">
        <div class="container">
  
          <!--LOGO-->
          <a href="#" class="logo">  
            <img src="../assets/images/logo (1).png"  alt="booken home">  <!--custom size-->
          </a>
  
  
          <!--Cart icon action in header-->
          <div class="header-action">
            <button class="header-action-btn" aria-label="cart" title="Cart">  <!--aria label mozda ovdje ne treba, provjeriti-->
              <span class="span">3</span>   <!--currently 3 element in cart-->
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon> <!--icon for cart-->
            </button>
  
            <!--icon used for when in mobile view -->
            <button class="nav-open-btn" aria-label="open menu" title="Open Menu" data-nav-toggler>
              <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>
  
            <!--User icon-->
            <div class="dropdown-content"  id="dropdownContent">
              <a href="login.html" class="header-action-btn" aria-label="user" title="User">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                <span class="login-text">Login</span>
              </a>              
            </div>
          </div>
        </div>
      </div>
  
      <!--NAVIGATION-->
      <div class="header-bottom " data-navbar>
          <div class="container">
    
            <nav class="navbar">    
              <button class="nav-close-btn" data-nav-toggler aria-label="close menu" title="Close Menu">
                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
              </button>
    
              <!--Search button-->
              <div class="navbar-top">
                <input type="search" name="search" placeholder="Search our store" class="input-field">
                <button class="search-btn" aria-label="Search">
                  <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              
              <!--Navigation Items-->
              <ul class="navbar-list">
    
                <li>
                  <a href="../index.html" class="navbar-link">Home</a>   <!--IZMIJENI-->
                </li>       
    
                <li>
                  <a href="../shop.html" class="navbar-link">Shop</a>
                </li>
    
                <li>
                  <a href="../about-us.html" class="navbar-link">About Us</a>
                </li>
    
                <li>
                  <a href="#contact" class="navbar-link">Contact</a>
                </li>  
              </ul>    
            </nav>   
          </div>
        </div>
    
        <div class="overlay active" data-overlay data-nav-toggler></div>
      </header>


      <div class="cart-component">
        <div class="card">
            <div class="cart-row">
                <div class="cart-col-8">
                    <div class="cart-title">
                        <div class="cart-row">
                            <div class="cart-col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="cart-col text-right">3 items</div>
                        </div>
                    </div>
                    <!-- Repeat the product row as needed -->
                    <div class="cart-row border-top border-bottom">
                        <div class="cart-row main align-items-center">
                            <div class="cart-col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                            <div class="cart-col">
                                <div class="cart-row text-muted">Shirt</div>
                                <div class="cart-row">Cotton T-shirt</div>
                            </div>
                            <div class="cart-col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="cart-col">&euro; 44.00 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                <div class="cart-col-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="cart-row">
                        <div class="cart-col">ITEMS 3</div>
                        <div class="cart-col text-right">&euro; 132.00</div>
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <div class="cart-row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="cart-col">TOTAL PRICE</div>
                        <div class="cart-col text-right">&euro; 137.00</div>
                    </div>
                    <button class="btn">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
    











      <!--CART - Bootstrap template-->
      <div class="cart-component">
      <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">3 items</div>
                    </div>
                </div>    
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">Cotton T-shirt</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">Cotton T-shirt</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">Cotton T-shirt</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS 3</div>
                    <div class="col text-right">&euro; 132.00</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro; 137.00</div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>
      </div>  
    </div>


      
     
     <!--Importing JS -->
     <script src="../assets/js/script.js"></script>


    

     <!--  - ionicon link  - for icons used in navbar -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     
</body>
</html>