
<!-- Main section for the cart items -->
<main class="cart-main">
    <!--back button for shop.html (for now)-->  <!--OVO TREBA KASNIJE DODATI OPET, LAYOUT SE POKVARIO-->
    <!--<div class="back-to-shop">
      <a href="#shop" class="back-to-shop-btn">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Back 
      </a>
    </div>-->
  
  
  
  
    <!--items-->
    <div class="cart-container">
       <!-- Headers for the cart items -->
       <div class="cart-headers">
        <span class="header-item">Item</span>
        <span class="header-unit-price">Price</span>
        <span class="header-quantity">Quantity</span>
        <span class="header-final-price">Total</span>
        <span class="header-remove">Remove</span>
      </div>
  
      
       <!-- Cart items list -->
       <div class="cart-items">
    
        <!-- Item 1 -->
        <!--<div class="cart-item">
          <div class="item-description">
            <img src="assets/images/book-1.png" alt="Levis Jeans 501">
            <div class="text-description"> 
              <p class="title">Black Night</p>
              <p class="author">John Doe</p>
              </div>
              <p class="unit-price">22€</p>
          </div>
          <div class="quantity-selector">
            <button class="decrease-quantity">-</button>
            <input type="text" value="02" readonly>
            <button class="increase-quantity">+</button>
          </div>
          <p class="final-price">44€</p>
          <button class="remove-item">X</button>
        </div>-->
      </div>
  
      <!-- Continue Shopping Link -->
      <div class="continue-shopping">
        <a href="#shop" class="continue-shopping-btn">
          <ion-icon name="chevron-back-outline"></ion-icon>
          Continue Shopping
        </a>
      </div>
    </div>
  
  
  
       
    <!-- Summary section -->
    <aside class="summary">
      <h2>Summary</h2>
      <p><span>Subtotal:</span> 232€</p>
      <p><span>Shipping</span> 24€</p>
      <input type="text" placeholder="Enter gift code">
      <p><span>Total Price:</span> 266€</p>
      <button class="checkout-btn" onclick="window.location.hash='#checkout'">Proceed to Checkout</button>
    </aside>
  </main>