
    <article>

      <!-- - #HERO -->
      <section class="section hero has-bg-image"> <!--ovdje je bilo jos: style="background-image: url('./assets/images/hero-bg.jpg')"-->
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title has-after">
              Get Your New <br>
              Book Collections
            </h1>

            <p class="hero-text">
              Open the door to endless worlds, hurry up shop books online effortlessly!
              All from the comfort of your own home.
            </p>

            <div class="btn-wrapper">
              <a href="shop.html" class="btn">
                <span class="span">Explore More</span>
                <ion-icon name="cart"></ion-icon>
              </a>

            </div>
          </div>


          <!--Hero banner book image-->
          <figure class="hero-banner">
            <img src="./assets/images/hero-banner.png" width="475" height="600" alt="hero banner" class="w-100">
            <!--class before: w-100-->
          </figure>

        </div>
      </section>


      <!--   #FEATURES: Free Shipping, Secure Payment, Best Price, Easy Return -->

      <section class="section feature" >
        <div class="container">
          <div class="grid-list">

            <!--Feature 1: Free shipping-->
            <li>
              <div class="feature-card">
                <div class="card-icon">
                  <img src="./assets/images/feature-1.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Free Shipping</h3>
                  <p class="card-text">Order over 100 BAM</p>
                </div>
              </div>
            </li>

            <!--Feature 2: Secure Payment-->
            <li>
              <div class="feature-card">
                <div class="card-icon">
                  <img src="./assets/images/feature-2.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Secure Payment</h3>
                  <p class="card-text">100% Secure Payment</p>
                </div>

              </div>
            </li>


            <!--Feature 2: Best Price-->
            <li>
              <div class="feature-card">
                <div class="card-icon">
                  <img src="./assets/images/feature-3.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Best Price</h3>
                  <p class="card-text">Guaranteed Low Cost</p>
                </div>

              </div>
            </li>

            <!--Feature 4: Easy Return-->
            <li>
              <div class="feature-card">
                <div class="card-icon">
                  <img src="./assets/images/feature-4.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Easy Return</h3>
                  <p class="card-text">Within 30 Days returns</p>
                </div>

              </div>
            </li>

          </div>

        </div>
      </section>

      <!---------------------------------------------------->


      <!--FEATURED COLLECTIONS BOOKS SECTION-->
      <section class="section featured">
        <div class="container">   
          <!--Text-->
          <h2 class="h2 section-title">Featured Collections</h2>
          <p class="section-text">
            Get lost in the beauty of the world of books!
          </p>


          <ul class="grid-list">

          </ul>

        </div>
      <!------------------------------------->

      <!-- - #OFFER -->
      <section class="section offer has-bg-image" style="background-image: url('./assets/images/section-bg.jpg')">
        <div class="container">
          <p class="section-subtitle">Special Offers</p>
          <h2 class="h2 section-title">All books are 50% off now! Don't miss such a deal!</h2>
        </div>
      </section>

      <!------------------------------------------------>
      <!-- - #POPULAR COLLECTION-->
     <section class="section popular" >
        <div class="container">

          <h2 class="h2 section-title">Popular Collections</h2>

          <p class="section-text">
            Some of famous books that you may like!
          </p>

          <!--Filtering criteria: Featured Products, New Products, Upsell Products-->
          <ul class="filter-list">
            <li>
              <button class="filter-btn" data-filter-btn="featured">Featured Products</button>
            </li>

            <li>
              <button class="filter-btn" data-filter-btn="new">New Products</button>
            </li>

            <li>
              <button class="filter-btn" data-filter-btn="sell">Upsell Prodcuts</button>
            </li>
          </ul>


          <ul class="product-list has-scrollbar"><!--ovo sve dodano dynamically json-->


          <!--</ul>
        </div>
      </section>-->
    </article>
