<main class="login-container">
  <div class="container2">
      <input type="checkbox" id="check">
      
      <!-- LOGIN FORM -->
      <div class="login form"> 
        <h1 class="form-title">Login</h1>
        <form id="loginForm" method="post" >
          <input type="text" id="email" placeholder="Enter your email" name="email" > 
          <input type="password" id="password" placeholder="Enter your password" name="password" >
          <a href="#">Forgot password?</a>
          <input type="submit" id="loginButton" class="button" value="Login"> 
        </form>
        <div class="signup">
          <span class="signup">Don't have an account?
           <label for="check">Sign up</label>     
          </span>
        </div>
      </div>
      
       <!-- REGISTRATION FORM -->
    <div class="registration form">
      <h1 class="form-title">Sign Up</h1>
      <form id="registrationForm" method="post">
        <input type="text" id="reg_first_name" placeholder="Enter your first name" name="first_name" >
        <input type="text" id="reg_last_name" placeholder="Enter your last name" name="last_name" >
        <input type="text" id="reg_email" placeholder="Enter your email" name="email">
        <input type="password" id="reg_password" placeholder="Create a password" name="password">
        <input type="password" id="reg_confirm_password" placeholder="Confirm your password" name="confirm_password">
        <input type="submit" id="reg_signInButton" class="button" value="Signup" name="signup-button">
      </form>
        <div class="signup">
          <span class="signup">Already have an account?
           <label for="check">Login</label>
          </span>
        </div>
      </div>
  </div>  
</main>
