<main class="shop"> 
  <article>

    
    <!--FEATURED COLLECTIONS BOOKS SECTION-->
    <section class="section featured" title="section featured">
      <div class="container">

        <ul class="grid-list">  
        </ul>
      </div>    
    </section>


  </article>
</main>

  <!--QUICK VIEW: Modals-->
  <div id="bookDetailModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <img src="" alt="" class="modal-book-image">
          <h2 class="modal-book-title">Book Title</h2>
          <p class="modal-book-author">Author Name</p>
          <p class="modal-book-price">Price: $0.00</p>
          <div class="modal-book-stars"></div>
          <hr>
          <p class="modal-book-description-title">Description</p>
          <p class="modal-book-description"></p> 
      </div>
  </div>
  
  
  <!--Za favorit pop-up-->
  <div id="favoritePopup" class="favorite-popup">Added to Favorites</div>
