<main>

    <section id="thank-you" data-load="thank-you.html">
        <div class="thank-you-container">
          <h1>THANK YOU! YOUR ORDER HAS BEEN COMPLETED</h1>
          <p>Thank you for ordering books. We really appreciate you giving us a moment of your time today.</p>

          <div class="checkmark-container">
            <ion-icon name="checkmark-circle" class="checkmark-icon"></ion-icon>
          </div>
          <button class="btn-home" onclick="window.location='#home'">Go back to home</button>
        </div>
      </section>

</main>