/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
body{
  min-height: 100vh; 
  width: 100%;
}

.about-us-container{
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: left;

}

.about-us-img {
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    display: block; /* Removes any extra space below the image */
    margin: 100px; 
    float: left;  /*position on left*/
    width: 400px;
    height: auto;
    padding-top: 30px;
    animation: fade-in 2s forwards; /* Apply fade-in animation */
   
  }

/************************/
/* About us content */
.about-us-content {
    text-align: left; /*text čitavog contenta je na lijevo*/
    max-width: 80%;
    margin: 50px auto 0; /* Apply margin to the top (50px), and center horizontally */
    padding-top: 65px; /* Adjust the padding as needed */
    padding-left: 0;
    animation: fade-in 2s forwards; /* Apply fade-in animation */
}


@keyframes fade-in {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

/* Apply animation delay for each paragraph */
.about-paragraph:nth-child(1) {
    animation-delay: 0.5s; /* Delay the animation start for the first paragraph */
}

.about-paragraph:nth-child(2) {
    animation-delay: 1s; /* Delay the animation start for the second paragraph */
}

.about-paragraph:nth-child(3) {
    animation-delay: 1.5s; /* Delay the animation start for the third paragraph */
}

.about-paragraph:nth-child(4) {
    animation-delay: 2s; /* Delay the animation start for the fourth paragraph */
}

.about-paragraph:nth-child(5) {
    animation-delay: 2.5s; /* Delay the animation start for the fifth paragraph */
}



.about-us-content h2{
  align-items: left;
  display: inline;
  color: aqua;
}

/*paragrafi*/
.about-paragraph {
    text-align: left;
    margin-bottom: 20px;
    text-align: justify; /* Align text da budu iste dužine */
    font-family: 'Poppins', sans-serif;
}
/*****************************************************/
/*MEDIA RESPONSIVENESS
/*mobile view: 320px*/
@media (max-width: 575px) {
    .about-us-container {
      display: block; /* Change to block for stacking */
    }
  
    .about-us-img {
      max-width: 100%; 
      margin: 0 auto; 
      float: none; 
      padding: 10px;  /*provide equal padding so that picture is apropriately positioned    */
    }
  
    .about-us-content {
      max-width: 100%; /* Adjust content width */
      margin-top: 20px; /* Add margin between image and content */
      padding: 0 10px; /* Add padding to the sides */
      font-size: 10px;  /*adjust size of text*/
      padding-bottom: 20px;
    }
  
    .about-paragraph {
      margin-bottom: 15px; /* Adjust paragraph margin */
    }

    /*office number, email, phone, address IN FOOTER*/
    .footer-brand{
        font-size: 10px;
    }
    .social-list .social-link{
        font-size: 20px;
    }
    .footer-list  .footer-list-title{
        font-size: 15px;
    }   

    .footer-list .footer-link{
        font-size: 15px;
    }
  }
  

/*tablet view, works until 768px*/
@media (max-width: 768px) {  /*max width is 768px*/
    .about-us-container {
        display: block; /* Change to block for stacking */
      }
    .about-us-img {
        float: none; 
        margin: 0 auto; 
        width: 100%;
        padding: 10px; 
    }
    .about-us-content {
        margin-top: 20px; /* margin between image and content */
        padding: 5px 10px; /*  padding to the sides */
        font-size: 15px;  /*adjust size of text*/
        max-width: 100%; /* Adjust the max-width */
        padding-bottom: 20px;
    }
    .about-us-content h2{
        font-size: 20px;
        padding: 5px;
    }

    .about-paragraph {
        margin-bottom: 15px; /* Adjust paragraph margin */
        padding: 5px;
    }
    /*razmak od pocetka kako bi bilo inline*/
    .footer-list{
        padding-top: 40px;
    }
    /*office number, email, phone, address IN FOOTER*/
    .footer-brand{
        font-size: 15px;
    }
    .social-list .social-link{
        font-size: 20px;
    }
    .footer-list  .footer-list-title{
        font-size: 15px;
    }   

    .footer-list .footer-link{
        font-size: 15px;
    }
    /*have to do little adjustments to navbar in mobile view*/
    .navbar-list .navbar-link{
        font-size: 15px;
        margin-left: 10px;
    }
    /*text search our store in search bar*/
    .navbar-top .input-field{
        font-size: 13px;
    }
    .navbar-top {
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      border-radius: 30px;
    
    }
}

/* responsive for large than 992px screens */
/*works, but gets messed up when my full screen is on 1920x1080*/
/* For screens larger than 992px */
/*@media (min-width: 992px) {
    .about-us-container {
        display: block; 
      }
    .about-us-content {
      max-width: 100%; 
    }
    .about-us-img {
        float: left; 
        margin: 0 auto; 
        width: 35%;
        padding-top: 60px; 
        margin-top: 40px;
        margin-left: 20px;
       
    }
    .about-us-content {
        margin-top: 60px; 
        padding-top: 95px;
        padding-left: 38%;
        padding-right: 20px;
        max-width: 100%; 
        padding-bottom: 20px;
        font-size: 12px;
    }
    .about-us-content h2{
        font-size: 20px;
        padding-top: 200px;
    }
   
    .navbar-list .navbar-link{
        font-size: 15px;
    }
    .footer-list{
        padding-top: 40px;
    }
  
    .footer-brand{
        font-size: 15px;
    }
    .social-list .social-link{
        font-size: 20px;
    }
    .footer-list  .footer-list-title{
        font-size: 15px;
    }   

    .footer-list .footer-link{
        font-size: 15px;
    }
  }*/
  








