main{
    padding-top: 20px;
}
main.cart-main {
    margin-top: 80px; /* Adjust this to the height of your fixed header */
    padding: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    position: relative; /* If your header is fixed, this will ensure .cart-main starts below the header */
    
}
/*ovo je da ima doovljno razmaka izmedju headara i cart view-a*/
body.cart-view main.cart-main {
    margin-top: 80px; /* This will only apply when the cart view is active */
}
body.cart-view .navbar-list,
body.cart-view .nav-open-btn {
  display: none; /* This ensures that these elements are hidden when on the cart page */
}

main.cart-main .cart-container {
    width: 75%;
    margin-top: 1rem;
}
  
main.cart-main .cart-container .cart-items{
    /*background: #736262;*/
    border: 1px solid #f8f3f3;
    border-radius: 4px;
    margin-top: 0;   
    padding: 4px;
}
  
/*za svaki item u korpi*/
main.cart-main .cart-container .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #E1E1E1;
}
/*ne znam za ovo */
.cart-headers.header-item,
.cart-headers.header-unit-price,
.cart-headers.header-quantity,
.cart-headers.header-final-price,
.cart-headers.header-remove {
  flex-grow: 1;
  text-align: center;
}
/*Item, unit price NASLOVI*/
main.cart-main .cart-container .cart-headers {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #E1E1E1;
}

/*Image of the book*/
main.cart-main .cart-container .item-description {
    display: flex;
    align-items: center;
}
  
main.cart-main .cart-container .item-description img {
    width: 150px; 
    height: 180px;
    margin-right: 10px;
}
/*author and title of the book*/
.text-description {
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
}

/*Title and author of the book*/
.title {
    font-size: 20px; 
    margin: 0;
    font-weight: bold; 
}
  
.author {
    font-size: 0.8em; 
    margin: 0;
    color: #f0f0f0; 
    font-style: emphasize;
    letter-spacing: 2px; 
}

.unit-price {
    font-size: 20px;
    color: #f0f0f0; 
    font-weight: bold;
    margin-right: 10px;
    padding-left: 70px; 
    align-items: center;
  }
  
/*Quantity buttons*/
.quantity-selector {
    display: flex;
    align-items: center;
}
  
.quantity-selector button {
    border: none;
    /*background-color: #be5252;*/
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
}
  
.quantity-selector input {
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
    border-radius: 30px;
    border: 1px solid aqua;
}
  
/*final price*/
.final-price{
    font-size: 20px;
    color: #f0f0f0; 
    font-weight: bold;
    margin-right: 10px;
    align-items: center;

}

/*remove button*/
.remove-item {
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
    padding-right: 20px;
}
.remove-item:hover {
    color: aqua;
}
 /*item, unit price, quantity, final price, remove*/
.header-item{
    left: 70px;
    text-align: right;
    flex-basis: 13%; 
    margin-left: 30px;
}
.header-unit-price{
    left: 70px;
    text-align: right;
    margin-left: 30px;
    flex-basis: 10%; 
}

.header-quantity{
    left: 70px;
    text-align: right;
    margin-left: 60px;
    padding-left: 10px;

}
.header-final-price{
    left: 80px;
    padding-left: 40px;
    text-align: right;
    margin-right: 25px;
}
.header-remove{
    left: 50px;
    text-align: right;
    margin-right: 30px;

}

/*continue shopping button*/
.continue-shopping {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px; 
    margin-left: 10px; 
    align-items: center; 

}
  
.continue-shopping-btn {
    display: inline-flex; 
    align-items: center; 
    background-color: white; 
    color: black; 
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 20px; 
    transition: background-color 0.3s;
    box-shadow: 0 0 5px white;
    font-weight: normal;
}
  
.continue-shopping-btn:hover {
    background-color: aqua; 
    color: black;
    box-shadow: 0 0 10px aqua;
}
.continue-shopping-btn ion-icon {
    margin-right: 5px; /* Space between icon and text */
    --ionicon-stroke-width: 32px; /* Adjust the icon size */
}

/********************************************/
/*Summary SECTION*/
.summary {
    width: 25%;
    padding: 20px;
    background: aqua;
    border-radius: 4px;
    margin-top: 73px;
    margin-bottom: 60px;   
}
.summary h2 {
    margin-bottom: 20px;
    color: #000;
}
  
.summary p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #000;
}
  
.summary input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: gray;    
}
  
.checkout-btn {
    background-color:  hsl(240, 100%, 6%);;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 60px;
}
.checkout-btn:hover {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
}
  
/*back button to navigate to shop.html */
.back-to-shop {
    position: absolute;
    top: 130px; /* Adjust this value as needed to move up */
    left: 160px; /* Aligns with the padding of the cart items */
    display: flex;
    align-items: center;

}
  
.back-to-shop-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff; 
    text-decoration: none;

}

.back-to-shop-btn:hover {
    color: aqua;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.back-to-shop-btn ion-icon {
    font-size: 20px ;
}
  

/*MEDIA QUERIES*/
/* Mobile devices */
@media (max-width: 575px) {
   
  }
  