/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh; 
  width: 100%;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;  /*background containera*/
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
  color: black;
}
.container .form{
  padding: 2rem;
}

/*Login text*/
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
  letter-spacing: 4px;  /*space between letters*/
}

/*Enter your email and password fields tj inputi*/
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 15px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 40px;   /*oblik input fielda*/
   outline: none;
   color: black; 
 }
 /*kada hoveramo na input fields*/
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }

 /*forgot password text*/
.form a{
  font-size: 16px;
  color:  hsl(243, 95%, 8%);
  text-decoration: none;
}

/*kada hoveramo na forgot password text, underline dodje i postane plavo*/
.form a:hover{
  text-decoration: underline;  
  color: hsl(184, 50%, 60%);
}

/*button Login*/
.form input.button{
  color: #fff;
  background: hsl(184, 50%, 60%);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
/*kada hoveramo na button Login, postane dark plavo*/
.form input.button:hover{
  background: hsl(184, 50%, 50%);
}


/********************/
.signup{
  font-size: 17px;
  text-align: center;
  color: black;
  margin-top: 10px; 
}
/*Sign up text*/
.signup label{
  color: hsl(184, 50%, 60%);
  cursor: pointer;
  display: inline-block;
  margin-left: 5px; 

}
/*kada hoveramo na Sign up text, underline*/
.signup label:hover{
  text-decoration: underline;

}

/*back button ikonica*/
.previous {
  border-radius: 50%;
  position: absolute; 
  top: 20px; 
  left: 20px; 
  background-color: #f1f1f1;
  color: black;
  font-size: 40px; 
  width: 50px; /* Set width and height  */
  height: 50px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none; 
}

/*back button ikonica kada hoveramo*/
.close-container{
  position:fixed;
  right: 20px; /* Adjust the value as needed */
  width: 50px;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: aqua;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: aqua;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.close-container label{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: red;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: red;
}
.close-container:hover label{
  opacity: 1;
}

/*MEDIA QUERIES*/
/*@media (max-width: 375px) {
  .container {
    max-width: 200px;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    margin: 10px;
    margin-right: 10px;
  
  }
  .container .form{
    align-items: center;
    margin: 20px
  }
  
  .form header {
    font-size: 60px;
    margin-bottom: 0.8rem;
  }
  .form input {
    height: 45px;
    font-size: 13px;
    margin-bottom: 0.8rem;
    padding: 20px;
  }
  .form input.button {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .signup {
    font-size: 14px;
  }
  .close-container {
    right: 5px;
    padding-right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  .leftright, .rightleft {
    width: 20px;
    margin-top: 12px;
  }
  .close {
    margin: 25px 0 0 3px;
  }
  .form header{
    font-size: 15px;
  }
  
}*/



/* For tablets and smaller desktops */
/*@media (max-width: 768px) {
  .container {
    max-width: 350px;
    border-radius: 20px;
  }
  .form header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .form input {
    height: 50px;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .form input.button {
    font-size: 1rem;
    margin-top: 1.2rem;
  }
  .signup {
    font-size: 15px;
  }
  .close-container {
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
  }
  .leftright, .rightleft {
    width: 40px;
    margin-top: 20px;
  }
  .close {
    margin: 45px 0 0 4px;
  }
}*/


/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .container {
    max-width: 350px;
    border-radius: 20px;
  }
  .form header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .form input {
    height: 50px;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .form input.button {
    font-size: 1rem;
    margin-top: 1.2rem;
  }
  .signup {
    font-size: 15px;
  }
  .close-container {
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
  }
  .leftright, .rightleft {
    width: 40px;
    margin-top: 20px;
  }
  .close {
    margin: 45px 0 0 4px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 300px;
    border-radius: 15px;
  }
  .form header {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .form input {
    height: 45px;
    font-size: 13px;
    margin-bottom: 0.8rem;
    padding: 20px;
  }
  .form input.button {
    font-size: 0.9rem
    ;
    margin-top: 1rem;
  }
  .signup {
    font-size: 14px;
  }
  .close-container {
    right: 5px;
    padding-right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  .leftright, .rightleft {
    width: 20px;
    margin-top: 12px;
  }
  .close {
    margin: 25px 0 0 3px;
  }
  .form header{
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 200px;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    margin: 10px;
    margin-right: 10px;
  
  }
  .container .form{
    align-items: center;
    margin: 20px
  }
  
  .form header {
    font-size: 60px;
    margin-bottom: 0.8rem;
  }
  .form input {
    height: 45px;
    font-size: 13px;
    margin-bottom: 0.8rem;
    padding: 20px;
  }
  .form input.button {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .signup {
    font-size: 14px;
  }
  .close-container {
    right: 5px;
    padding-right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  .leftright, .rightleft {
    width: 20px;
    margin-top: 12px;
  }
  .close {
    margin: 25px 0 0 3px;
  }
  .form header{
    font-size: 15px;
  }
  
}