/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
} 
body{
  min-height: 100vh;
  width: 100%;
} 

/*novo za sorting*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} 

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/*******************************************************+****/
.blur-background {
  filter: blur(8px);
}


/* Modal container */
.modal {
  display: none; /* hidden initially*/
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 5%;
  width: 100%; 
  height: 100%; 
  overflow: auto; /*scroll omogućen po potrebi*/
}/* Show the modal */
.modal.active {
  display: block;
}

/*Text inside the modal*/
.modal-content {
  background-color:  hsl(243, 95%, 8%);
  margin: 5% auto; 
  padding: 10px;
  border: 2px solid #888;
  position: relative;
  width: 60%; 
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3); 
  animation: animatezoom 0.6s;

}

.modal-book-title{
  color: white;
  font-size: 37px;
  font-weight: bold;
  text-align:center;
  position: absolute; 
  top: 77px; /*pomjeriti title slike prema gore*/
  left: 40%; /* za centriranje horizontalno */
}

.modal-book-author{
  color: white;
  font-size: 20px;
  text-align: left;
  position: absolute; 
  top: 150px; /*pomjeriti title slike prema gore*/
  left: 40%; /* za centriranje horizontalno */

}

.modal-book-price{
  color: red;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: right;
  position: absolute; 
  top: 180px; 
  right: 5%; 
}

.modal-book-stars{
  color: yellow;
  font-size: 20px;
  text-align:right;
  position: absolute; 
  top: 190px;  /*razmak zvijezdica od autora*/
  left: 40%; 
  display: flex; 
  justify-content: center; 


}

.modal-book-stars span {
  margin: 0 10px; /*razmak između zvijezdica*/
  padding: 10px;
}

.modal-content hr{
  border-top: 0px solid gray;
  margin-top: 10px;
  margin: 0 auto; 
  width: 55%;
  position: absolute;
  top: 220px; 
  left: 40%; 
}
/*Description tekst*/
.modal-book-description-title {
  color: grey;
  font-size: 13px;
  font-weight: normal;
  text-align: justify;
  top: 230px; 
  width: 60%;
  left: 40%;
  position: absolute;
}


.modal-book-description{
  color: white;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 10px;
  padding: 0 20px;
  position: absolute;
  top: 240px; 
  width: 60%;
  left: 38%; 

}


/*x close button*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: aqua;
  text-decoration: none;
  cursor: pointer;
}


.favorite-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  color: black;
  padding: 10px 20px;
  border-radius: 60px;
  z-index: 20;
  font-weight: bold;
}


/*ovo sve je za user ikonicu opet, jer nije radilo :(( */
.user-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-action-btn {
  display: flex;
  align-items: center;
  color: white; 
  text-decoration: none;
  visibility: visible; 
}

.header-action-btn ion-icon {
  font-size: 24px; 
  margin-right: 8px;
}

.login-text {
  font-size: 16px; 
}



/*Sort button implementation*/
.sort-container {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 200px;  /*pozicija ovog sorta boze dragi*/
  right: 170px;
  gap: 10px;

}
/*sort by text*/
.sort-container label {
  margin-left: 200px;
  padding: 10px 0;
  color: aqua;
  font-size: 16px;
  cursor: pointer;
  text-align: right;
  margin-top: -100px;
  
}

/*sort by dropdown*/
.custom-select {
  position: relative;
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  border-radius: 30px; 
  cursor: pointer;
  user-select: none;
  width: 90px;
  height: 30px;
  margin-top: -65px;

}

.custom-select-value {
  /*padding: 8px;*/
  padding-top: 3px;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  color: black;
}

.custom-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: aqua;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.custom-select-option {
  padding: 12px 16px;
  cursor: pointer;
}

.custom-arrow {
  position: absolute;
  right: 10px;
  left: 58px;
  padding: 10px;
  top: 55%;
  font-weight: bold;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
}





/*RESPONSIVE MEDIAS*/
/* responsive for up to 574px screen*/
@media (max-width: 575px) {
 

  /*featured list*/
  .container .grid-list{
    padding: 20px;
  }
 /*modals in main content*/
  .modal{
    padding: 10px;
    display: flex;
    justify-content: center; /* Center modal on the screen */
    width: 100%;
    height: 100%;
    z-index: 1000; /* Ensure it's on top of other content */
    position: fixed;  
    left: 0;
    right: 0;
    bottom: 0; 
  }

  .modal-content{
    width: auto;
    max-width: 95%;
    padding:20px;
    margin-top: 5vh;
    margin: 0 auto; /* Center the modal on the screen */
    position: relative;
    box-sizing: border-box;
    /*max-width: 350px;*/ 
    overflow: auto; /* Add this to allow scrolling */
    overflow-x: hidden; /* Hide horizontal scroll */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
  }
  .modal-content .modal-book-image{
    padding: 0;
    margin: 0;
    width: 60%; 
    /*max-width: 60%;*/
    margin-right: 10px; 
    margin-left: -10%;    /* mnogo čudno  */
    height: auto; 
    overflow: hidden; 
    box-sizing: border-box; 
    display: block;
  }
  .modal-book-title,
  .modal-book-author,
  .modal-book-price,
  .modal-book-stars,
  .modal-book-description-title,
  .modal-book-description,
  .modal-content hr {
    margin-left: 5px; 
    text-align: left; 
    font-size: 13px; 
    margin-top: 0;
    width: auto;
    box-sizing: border-box;
    max-width: 100%; 
  }
  .modal-book-title {
    margin-bottom: 2px; 
    
  }
  .modal-book-author {
    margin-top: -40px; 
  
  }
  .modal-book-stars, .modal-book-price {
    margin-top: -40px; 
  }
  .modal-book-description-title{
    margin-top: -40px;
  }
  .modal-book-description {
    margin-left: 0;
    text-align: justify;
    width: 100%; 
    max-width: 65%;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: -2vh;
    
  }
  .modal-content hr {
    width: 100%; 
    border-top: 1px solid gray; 
    padding-right: 30px;
    margin-top: -40px;
  }

  /* Close button positioning */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px; /* Adjust size as needed */
    color: #aaa; /* Style as needed */
  }

  .featured .grid-list{
    padding: 40px;
  }
 
}
/********************************************************************/
/* For large screens: */
@media (max-width: 1200px) {
  

  /*modal*/
  .modal{
    padding: 10px;
    display: flex;
    justify-content: center; /* Center modal on the screen */
    width: 100%;
    height: 100%;
    z-index: 1000; /* Ensure it's on top of other content */
    position: fixed;  
    left: 0;
    right: 0;
    bottom: 0; 
  }

  .modal-content{
    width: auto;
    max-width: 95%;
    padding:20px;
    margin-top: 5vh;
    margin: 0 auto; /* Center the modal on the screen */
    position: relative;
    box-sizing: border-box;
    /*max-width: 350px;*/ 
    overflow: auto; /* Add this to allow scrolling */
    overflow-x: hidden; /* Hide horizontal scroll */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
  }
  /* Close button positioning */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px; /* Adjust size as needed */
    color: #aaa; /* Style as needed */
  }

  .modal-content .modal-book-image{
    padding: 0;
    margin: 0;
    width: 60%; 
    /*max-width: 60%;*/
    margin-right: 10px; 
    margin-left: -10%;    /* mnogo čudno  */
    height: auto; 
    overflow: hidden; 
    box-sizing: border-box; 
    display: block;
  }
  .modal-book-title,
  .modal-book-author,
  .modal-book-price,
  .modal-book-stars,
  .modal-book-description-title,
  .modal-book-description,
  .modal-content hr {
    margin-left: 10px; 
    text-align: left; 
    font-size: 17px; 
    margin-top: 0;
    width: auto;
    box-sizing: border-box;
    max-width: 100%; 
  }
  .modal-book-title {
    margin-bottom: 2px; 
    
  }
  .modal-book-author {
    margin-top: -40px; 
  
  }
  .modal-book-stars, .modal-book-price {
    margin-top: -40px; 
  }
  .modal-book-description-title{
    margin-top: -40px;
  }
  .modal-book-description {
    margin-left: 0;
    text-align: justify;
    width: 100%; 
    max-width: 65%;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-top: -2vh;
    
  }
  .modal-content hr {
    width: 100%; 
    border-top: 1px solid gray; 
    padding-right: 30px;
    margin-top: -40px;
  }

  /* Close button positioning */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px; /* Adjust size as needed */
    color: #aaa; /* Style as needed */
  }




  

 


}
